<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManPowerSystem.Properties.Settings.ProjectHR_02ConnectionString"
            connectionString="Data Source=IS-INTERN02;Initial Catalog=ProjectHR-02;User ID=tah;Password=hr11223344"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>